{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1 style="color: #FFFFFF; padding-top: 2rem; padding-bottom: 5rem">Lieux</h1>
    <div class="container">
        <div class="row">
            <div class="card text-center w-100 align-middle">
                <div class="card-body">
                    <h1>Creer un lieu</h1>
                    {{ include('lieu/_form.html.twig') }}

                    <a href="{{ path('app_lieu_index') }}">Retour a la liste</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
