{{ form_start(FilterCampusType) }}
    {{ form_widget(FilterCampusType) }}
<button class="btn" style="color: #FFFFFF">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(FilterCampusType) }}
