<form method="post" action="{{ path('app_ville_delete', {'id': ville.id}) }}"
      onsubmit="return confirm('Etes vous sur de supprimer vette ville ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
    <button class="btn text-danger">Supprimer</button>
</form>
