{% extends 'base.html.twig' %}

{% block title %}New Ville{% endblock %}

{% block body %}
    <h1 style="color: #FFFFFF">Creer une nouvelle ville</h1>

    {{ include('ville/_form.html.twig') }}

    <a style="color: #FFFFFF" href="{{ path('app_ville_index') }}">Retour a la liste</a>
{% endblock %}
