{% extends 'base.html.twig' %}

{% block title %}Admin Pannel{% endblock %}

{% block body %}
    <button type="button" class="btn btn-danger">Gerer User</button>
    <button type="button" class="btn btn-primary">Gerer Campus</button>
    <button type="button" class="btn btn-primary">Gerer Lieux</button>

{% endblock %}
