{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">
    <div class="container"><h1 style="padding-top: 2rem; padding-bottom: 5rem; color: #FFFFFF">{{ user.username }}</h1>
        <div class="row">
            <div class="card text-center w-100 align-middle">
                <div class="card-body">
                    <h1>Modifier l'utilisateur</h1>

                    {{ include('user/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

                    <a href="{{ path('app_user_index') }}">Retour a la liste</a>

                    {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
