{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container"><h1 style="color: #FFFFFF; padding-top: 2rem; padding-bottom: 5rem">Utilisateur</h1>
    <div class="row">
        <div class="card text-center w-100 align-middle">
            <div class="card-body">
    <h1>Creer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
